# build artifacts
dist/

# da mac
.DS_Store

# controller (Rust)
controller/target
/controller/tools/pw_probe_runner/pw-probe-runner
/controller/tools/sb_api_validator/sb_api_validator

# local scratch
.tmp/

# tests artifacts
tests/out/
tests/**/__pycache__/
